.header{
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #ccc;
}

.header__title{
    flex: 0.4;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    letter-spacing: 2px;

}

.header__title span{
    color: rgb(182, 47, 47);
    font-size: 34px;
}

.header__nav{
    flex: 0.6;
}

.header__ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    
}